Dear {{username}},<br />
Thank you for signing up! Before you can start using your account, we need to
verify your email address. This helps us ensure that you have provided us with a
valid email address and that you are the owner of the account.<br /><br />

To verify your email, please enter the following OTP code in the verification
field on PostReal App.<br />
<h1>{{otp}}</h1>
Please note that this otp is only valid for <strong style="color: rgb(225, 27, 27)">15</strong> minutes.<br /><br />

If you did not initiate this request, please ignore this email.<br /><br />

Thank you,<br />
Post Real
